#define APP_VERSION_MAJOR	1
#define APP_VERSION_MINOR	72
#define APP_VERSION_MICRO	0
#define APP_VERSION_BUILD	0
#define APP_VERSION_STRING	"1.72.0.0"

#define APP_VERSION_DIZ		"Build and install an Plucker database file."
#define APP_VERSION_FILENAME	"Conduit"
#define APP_VERSION_TYPE	VFT_APP



#define APPLICATIONNAME "Plucker"
#define APPLICATIONURL "http://www.plkr.org/"
#define APPLICATIONCOMPANY "The Plucker Team"
#define APPLICATIONCOPYRIGHT "1999-2001 by The Plucker Team"



#define APPLICATION_VERSION "1.x"
#define APPLICATION_VERSION_MAJOR 1
#define APPLICATION_VERSION_MINOR 0
#define APPLICATION_VERSION_MICRO 0
#define APPLICATION_VERSION_BUILD 0



1 RCDATA .\Icons\pluckerpdb_b.tbmp
2 RCDATA .\Icons\pluckerpdb_s.tbmp



VERSIONINFO_1 VERSIONINFO
FILEVERSION APP_VERSION_MAJOR, APP_VERSION_MINOR, APP_VERSION_MICRO, APP_VERSION_BUILD
PRODUCTVERSION APPLICATION_VERSION_MAJOR, APPLICATION_VERSION_MINOR, APPLICATION_VERSION_MICRO, APPLICATION_VERSION_BUILD
FILEOS VOS__WINDOWS32
FILETYPE APP_VERSION_TYPE
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "InternalName", APP_VERSION_FILENAME"\000"
    #if APP_VERSION_TYPE == VFT_APP
     VALUE "OriginalFilename", APP_VERSION_FILENAME".exe\000"
    #endif
    #if APP_VERSION_TYPE == VFT_DLL
     VALUE "OriginalFilename", APP_VERSION_FILENAME".dll\000"
    #endif
   VALUE "FileVersion", APP_VERSION_STRING"\000"
   VALUE "FileDescription", APP_VERSION_DIZ"\000"

   VALUE "CompanyName", APPLICATIONCOMPANY"\000"
   VALUE "LegalCopyright", APPLICATIONCOPYRIGHT"\000"
   VALUE "ProductName", APPLICATIONNAME"\000"
   VALUE "ProductVersion", APPLICATION_VERSION"\000"
  }
 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", MAKELANGID(LANG_ENGLISH,SUBLANG_ENGLISH_US), CHARSET_MULTILINGUAL
 }

}
